body {
  margin: 40px auto;
  text-align: center;
  background-color: rgb(105, 2, 2);
}
canvas {
  border: 1px solid #01232e;
  background-color: black;
}
#gameArea{
  visibility: block;
}
#gameDialogue{
  visibility: hidden;
}