body {
  margin: 30px auto;
  text-align: center;
  background-color: rgb(26, 0, 0);
}
canvas {
  border: 1px solid #c0000a;
  background-color: black;
}
#gameArea{
	visibility:visible;
	position: absolute;
	margin-left: 40px;
}
#gameDialogue{
  text-align: center;
  line-height: 20px;
  font-size: 70px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  width: 800px;
  margin-left: 80px;
  color:  #ffee00;
  position: absolute;
  visibility: hidden;
}
